Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile /home/overlord/.ssh/authorized_keys
StrictModes yes
UsePAM no
PermitEmptyPasswords no

AllowUsers overlord
X11Forwarding no
AllowTcpForwarding yes
AllowAgentForwarding yes
GatewayPorts no
PermitTunnel no
ClientAliveInterval 120
ClientAliveCountMax 2
PrintMotd no
TCPKeepAlive yes
UseDNS no
PidFile /run/sshd.pid
Subsystem sftp internal-sftp
